@mixin button($textColor: $white-color, $backgroundColor: $secondary-color){
   display: inline-block;
   width: fit-content;
   padding: 0.75rem 1rem;
   border-radius: 2rem;
   background: $backgroundColor;
   color:$textColor ;
   cursor: pointer;
   transition: all 400ms ease;
   
   &:hover{
       background-color: lighten($backgroundColor,8%);
       box-shadow: 0 1rem 1.6rem rgba($black-color, 0.15);
   }
}

@mixin gradientBackground{
    background: linear-gradient(to bottom, $primary-color, $primary-color-variant);
    color: $white-color;

    h1,h2,h3,h4,h5{
        color: $white-color;
    }
}