@import "./Partials/config";
@import "./Partials/mixins";
@import "./Partials/general";
@import "./Partials/nav";
@import "./Partials/footer";

// Variables
$primary-color: #0979db;
$secondary-color: #09dba0;
$error-color: #f00;
$button-bg-color: #f66;

section.forms {
  padding: 5rem 3rem;

  .hidden {
    display: none !important;
    overflow: hidden !important;
  }

  .form {
    max-width: 30rem;
    padding: 3rem;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem auto;
    box-shadow: 4px 4px 16px -2px #0004;
    font-size: 1.1rem;

    input {
      font-size: 1.1rem;
    }

    .form__heading {
      font-size: 1.3rem;
      color: transparent;
      background-image: linear-gradient($primary-color, $secondary-color);
      background-clip: text;
      -ms-background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      font-weight: 600;
      text-align: center;
    }

    .see__password {
      width: 100%;
      display: grid;
      grid-template-columns: 70% 20%;
      gap: 10px;

      .password__toggle {
        @include gradientBackground;
        width: max-content;
        padding: 0.3rem 1.2rem;
        border-radius: 2rem;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        font-size: 1.1rem;
      }
    }

    .form__input:not([type="checkbox"]),
    .form__select,
    .form__textarea {
      padding: 0.3rem 1.2rem;
      border-radius: 2rem;
      border: 1px solid #0004;
    }

    .form__input.error:not([type="checkbox"]),
    .form__select.error,
    .form__textarea.error {
      border: 1px solid $error-color;
    }

    button {
      @include gradientBackground;
      width: max-content;
      padding: 0.3rem 1.2rem;
      border-radius: 2rem;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: bold;
      color: #fff;
    }
  }

  .form__swap {
    cursor: pointer;
    color: #666;
    width: max-content;
  }
}

/* Sweet alert styling */
.swal-button-container {
  margin: 0 auto 10px;
  display: block;
  width: max-content;
}
.swal-button-container .btn-error {
  background-color: #f66;
  padding: 2rem;
  border-radius: 100%;
  font-size: 1.5rem;
}
.swal-button-container .btn-success {
  background-color: #09dba0;
  padding: 1rem;
  border-radius: 100%;
  font-size: 1.5rem;
}
.swal-button-container .btn-warning {
  background-color: #fac451;
  padding: 1rem;
  border-radius: 100%;
  font-size: 1.5rem;
}




/* Media queries for responsiveness */
@media (max-width: 768px) {
  section.forms .form {
    .form__swap {
      margin: 2rem 5%;
      text-align: center;
    }

    .button {
      padding: 0.2rem 0.8rem;
    }
  }
}

@media (max-width: 500px) {
  section.forms .form {
    .form__swap {
      width: 90%; /* Adjust the width as needed */
      margin: 1rem 5%; /* Adjust margin as needed */
      text-align: center;
    }

    .button {
      padding: 0.1rem 0.6rem;
    }
  }
}






